.cover {
    border-bottom-left-radius: var(--bord-radius);
    border-bottom-right-radius: var(--bord-radius);
    position: relative;
    overflow: hidden;
}

.cover::after {
    content: '';
    background: linear-gradient(0deg, rgba(10,10,10,0) 10%, rgba(10,10,10,.8));
    background-blend-mode: multiply;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.cover img {
    object-fit: cover;
    object-position: bottom center;
    max-height: 180px;
}

.avatar {
    border-width: 6px;
    border-style: solid;
    border-color: var(--bg-color-1);
    border-radius: 50%;
    overflow: hidden;
    width: 136px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top:-68px;
    margin-bottom:1.5em;
}

@media screen and (max-width: 960px) {

    header.container {
        padding-left: 0;
        padding-right: 0;
    }

    .cover {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

/* *************************************************************** */


/* *************************************************************** */